@inject IJSRuntime JsRuntime

@using NetwalkLogic.Elements
@using NetwalkLogic

@if (game is not null && game.Elements is not null)
{
    @if (isGameSolved)
    {
        <h3>YOU WON!</h3>
    }

    @for (int i = 0; i < game.RowCount; i++)
    {
        <div
            @ontouchmove:preventDefault="true"
            @ontouchcancel:preventDefault="true"
            @ontouchmove:stopPropagation="true"
            @ontouchcancel:stopPropagation="true"
            class="d-flex flex-row">
            @for (int j = 0; j < game.ColumnCount; j++)
            {
                <div class="">
                    <GridElement Size="@ElementSize" Margin="@ElementMargin" Element="game.Elements[i, j]" OnClickCallback="ElementRotatedCallback" />
                </div>
            }
        </div>
    }

    <div class="ms-3 mt-3">
        <button @onclick="SolveButtonClicked" type="button" class="btn btn-primary me-2">Solve</button>
        <button @onclick="NewGameButtonClickedAsync" type="button" class="btn btn-primary">New Game</button>
        <button @onclick="DecreaseElementSizeAsync" type="button" class="btn btn-primary">-</button>
        <button @onclick="IncreaseElementSizeAsync" type="button" class="btn btn-primary">+</button>
    </div>
}

@code {
    private int rowCount = 0;
    private int columnCount = 0;
    private bool isWrapping = true;
    private int ElementSize = 50;
    private const int ElementMargin = 6;

    private Game? game;
    private bool isGameSolved = false;

    protected override async Task OnInitializedAsync()
    {
        game = new Game();
        await NewGameButtonClickedAsync();
    }

    private void SolveButtonClicked()
    {
        game?.TrySolveGame();
        game?.UpdateServerConnectionStates();
        isGameSolved = game?.IsGameSolved() ?? false;
    }

    private async Task NewGameButtonClickedAsync()
    {
        var windowDimensions = await JsRuntime.InvokeAsync<WindowDimension>("getWindowDimensions");

        rowCount = (int)Math.Floor((float)windowDimensions.Height / (ElementSize + ElementMargin / 2)) - 2;
        columnCount = (int)Math.Floor((float)windowDimensions.Width / (ElementSize + ElementMargin / 2));

        isGameSolved = false;
        game?.NewGame(rowCount, columnCount, isWrapping);
    }

    private async Task IncreaseElementSizeAsync()
    {
        ElementSize += 5;
        await NewGameButtonClickedAsync();
    }

    private async Task DecreaseElementSizeAsync()
    {
        ElementSize -= 5;
        await NewGameButtonClickedAsync();
    }

    private void ElementRotatedCallback()
    {
        game?.UpdateServerConnectionStates();
        isGameSolved = game?.IsGameSolved() ?? false;
    }

    public class WindowDimension
    {
        public int Width { get; set; }
        public int Height { get; set; }
    }
}
